Repository GavinLenz/rocky9-cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, isort, yamllint, ansible-lint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ["--line-length", "100"]
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check", "--fix"]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--profile", "black", "--line-length", "100"]
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
      - id: ansible-lint
        name: ansible-lint
        entry: ansible-lint
        language: system
        types: [yaml]
        args: ["--config", ".ansible-lint.yml"]

(check)
  docs/CONTROLLER.md
  roles/controller_common/defaults/main.yml
  roles/controller_common/tasks/main.yml
Due: yamllint, ansible-lint

testing tasks to get proper dnf
  docs/CONTROLLER.md
  roles/controller_common/defaults/main.yml
  roles/controller_common/tasks/main.yml
Due: yamllint, ansible-lint

patch
  roles/controller_common/tasks/main.yml
Due: yamllint, ansible-lint

patched subnet bug, updated inventory.example.json
  inventory/inventory.example.json
  roles/controller/templates/ifcfg.j2
  roles/controller_common/tasks/main.yml
Due: yamllint, ansible-lint

patched subnet bug with default 10.0.0.0/24
  roles/controller/templates/ifcfg.j2
Due: none

added dns and gateway vars
  roles/pxe/defaults/main.yml
Due: yamllint, ansible-lint

added repo_client back to controller playbook
  config/roles.yml
  playbooks/controller.yml
Due: yamllint, ansible-lint

removing redundant repo
  roles/repo_client/tasks/main.yml
  roles/repo_mirror/tasks/main.yml
Due: yamllint, ansible-lint

slurm bug fixes
  playbooks/controller.yml
  roles/common/tasks/main.yml
  roles/repo_mirror/tasks/main.yml
  roles/repo_upstream/defaults/main.yml
  roles/repo_upstream/tasks/main.yml
  roles/repo_upstream/templates/slurm-upstream.repo.j2
Due: yamllint, ansible-lint

slurm bug fixes
  roles/repo_client/tasks/main.yml
Due: yamllint, ansible-lint

final commit
  README.md
Due: none

stripped even further
  .github/workflows/ci.yml
  config/profiles.yml
  config/roles.yml
  inventory/generator.py
  output.txt
  playbooks/compute.yml
  playbooks/validation.yml
  roles/common/tasks/main.yml
  roles/compute_common/defaults/main.yml
  roles/compute_common/tasks/main.yml
  roles/controller/defaults/main.yml
  roles/controller/tasks/venv.yml
  roles/controller/templates/ifcfg.j2
  roles/pxe/defaults/main.yml
  roles/pxe/templates/pxe.conf.j2
  roles/validation/defaults/main.yml
  roles/validation/pavilion/hosts/cluster.yml
  roles/validation/pavilion/suites/basic_smoke.yml
  roles/validation/pavilion/suites/controller_smoke.yml
  roles/validation/pavilion/suites/hpc_smoke.yml
  roles/validation/tasks/pavilion_config.yml
  roles/validation/tasks/pavilion_run.yml
  scripts/generate_hashes.py
Due: black, ruff, isort, yamllint, ansible-lint

v0.0.1
  _output.txt
  docs/ARCHITECTURE.md
  docs/COMPUTE.md
  docs/CONTROLLER.md
  docs/GEAR.md
  docs/HOSTS.md
  docs/PIPELINE.md
  docs/RESOURCES.md
  docs/SETUP.md
  roles/controller/tasks/main.yml
  roles/validation/defaults/main.yml
  roles/validation/tasks/pavilion_config.yml
  roles/validation/tasks/pavilion_install.yml
Due: yamllint, ansible-lint

v0.0.1
  .gitignore
  _output.txt
Due: none

120425
  Makefile
  README.md
Due: none

close to finished
  .env.example
  .yamllint
  Makefile
  README.md
  config/net.yml
  config/nodes.yml
  docs/SETUP.md
  inventory/generator.py
  inventory/inventory.example.json
  requirements/controller.txt
  requirements/dev.txt
  roles/pxe/defaults/main.yml
  scripts/clean.py
Due: black, ruff, isort, yamllint, ansible-lint

...
  Makefile
  README.md
  config/roles.yml
  docs/HOSTS.md
  requirements/controller.txt
  roles/compute_common/defaults/main.yml
  roles/controller_common/defaults/main.yml
  roles/pxe/tasks/firewall.yml
  roles/pxe/templates/ks.cfg.j2
  roles/validation/LICENSE
Due: yamllint, ansible-lint

before lint fixes
  .ansible-lint.yml
  Makefile
  README.md
  docs/DEV.md
  docs/SETUP.md
Due: yamllint, ansible-lint

begin testing
  .env.example
  Makefile
  README.md
  docs/SETUP.md
  inventory/generator.py
  inventory/inventory.example.json
  roles/compute_common/defaults/main.yml
  roles/compute_common/tasks/main.yml
  roles/controller/defaults/main.yml
  roles/controller/tasks/main.yml
  roles/controller/tasks/venv.yml
  roles/controller_common/defaults/main.yml
  roles/controller_common/tasks/main.yml
  roles/pxe/defaults/main.yml
  roles/pxe/tasks/binaries.yml
  roles/pxe/tasks/deploy_configs.yml
  roles/pxe/tasks/firewall.yml
  roles/pxe/tasks/httpd.yml
  roles/pxe/tasks/iso.yml
  roles/pxe/tasks/main.yml
  roles/pxe/tasks/preflight.yml
  roles/pxe/tasks/validate.yml
  roles/pxe/templates/apache_pxe.conf.j2
  roles/pxe/templates/boot.ipxe.j2
  roles/pxe/templates/ks.cfg.j2
  roles/pxe/templates/pxe.conf.j2
Due: black, ruff, isort, yamllint, ansible-lint

fixed undefined var
  roles/pxe/tasks/firewall.yml
Due: yamllint, ansible-lint

fixed undefined var with new pxe_settings naming
  roles/pxe/tasks/firewall.yml
Due: yamllint, ansible-lint
